<div class="content animate-panel" id="content-area">

	<section>


		<table class="table">
			<thead>
			<tr>
				<th>ID</th>
				<th>label</th>
				<th>Start</th>
				<th>End</th>
				<th>staffID</th>
			</tr>
			</thead>

			{% for row in appointments %}
			<thead>
			<tr style="background-color: #ccc;">
				<th colspan="2">{{ row['ID'] }}</th>
				<th>{{ row['appointmentStart'] }}</th>
				<th>{{ row['appointmentEnd'] }}</th>
				<th></th>
			</tr>
			</thead>

			<tbody>
			{% for serv in row['services'] %}
				<tr>
					<td>
						{{ serv['ID'] }}
					</td>
					<td>
						{{ serv['label'] }}
					</td>
					<td>
						{{ serv['appointmentStart'] }}
					</td>
					<td>
						{{ serv['appointmentEnd'] }}
					</td>
					<td>
						{{ serv['staffID'] }}
					</td>
				</tr>
			{% endfor %}
			</tbody>
			{% endfor %}
		</table>

	</section>


	<section id="calendar">

		{% for service in services %}
		<div class="panel" data-duration="{{ service['duration'] }}" data-id="{{ service['ID'] }}">
			<div class="panel-heading">
				<h1>{{ service['ID'] }} | {{ service['label'] }} <small>{{ service['duration_view'] }}</small></h1>
				<div>
					{{ service['appointmentStart'] }} to {{ service['appointmentEnd'] }} with {{ service['staffID'] }}
				</div>
			</div>
			{% if service['slots']['errors'] %}
			<div class="alert alert-danger">
				<ul>
					{% for err in service['slots']['errors'] %}
					<li>{{ err }}</li>
					{% endfor %}
				</ul>
			</div>
			{% endif %}
			{% if service['slots']['warnings'] %}
				<div class="alert alert-warning">
					<ul>
						{% for err in service['slots']['warnings'] %}
							<li>{{ err }}</li>
						{% endfor %}
					</ul>
				</div>
			{% endif %}
			<div class="panel-body">
				<div class="timeslots">
					{% for row in service['slots']['times'] %}
						<div class="timeslot {{ row['c'] }}">
							{% if row['s']==1 %}
								<a href="#">{{ row['l'] }}</a>
							{% else %}
								{{ row['l'] }}
							{% endif %}

							<small>
								{% for starr in row['status']['staff'] %}
									{% if starr['busy']|length==0 %}
										{{ starr['ID'] }}|
									{% endif %}
								{% endfor %}
							</small>
						</div>

					{% endfor %}
				</div>
				<div class="clearfix"></div>
			</div>

			<div class="panel-footer">
				<div class="staff-area div-table">
					<div class="staff div-row">
						{% for staff in service['staff'] %}
							<div class="item div-cell {% if service['staffID'] == staff['ID'] %} active {% endif %}" data-id="{{ staff['ID'] }}">{{ staff['first_name'] }} {{ staff['last_name'] }}</div>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
		{% endfor %}










	</section>
</div>
<style>
	#calendar {
		position: relative;
	}

	#calendar .timeslots .timeslot a {
		cursor:pointer;
		font-weight: bold;
		text-shadow:#000000 0 0 10px;
	}
	#calendar .timeslots .timeslot.selectable:hover {
		background-color: #0db4be;
	}



	#calendar .timeslots .timeslot {
		width: 60px;
		float: left;
		border: 1px solid #ccc;
		text-align: center;
		margin-right:-1px;
		padding:10px;
	}

	#calendar .timeslots .timeslot.closed {
		background-color: #ccc;
		color: #afafaf;
	}

	#calendar .timeslots .timeslot.soft_closed {
		background-color: #eaeaea;
		color: #afafaf;
	}
	#calendar .timeslots .timeslot.no_available {
		background-color: #cc8c7d;
		color: #afafaf;
	}

	#calendar .timeslots .timeslot.other_selected {
		background-color: rgba(0, 0, 255, 0.5);
		color: #ffffff;
	}
	#calendar .timeslots .timeslot.selected {
		background-color: #0000ff;
		color: #ffffff;
	}
	#calendar .timeslots .timeslot.error {
		background-color: #FF0000;
		color: #ffffff;
	}


	#calendar .timeslots .timeslot.soft_error {
		background-color: rgba(255, 0, 0, 0.5);
		color: #ffffff;
	}




	.div-table {
		width:100%;
		display: table;
	}
	.div-table .div-row {
		display: table-row;
	}
	.div-table .div-cell {
		display: table-cell;
	}

	.staff .item {
		border: 1px solid #ccc;
		text-align: center;
		margin-right:-1px;
		padding:10px;
		opacity:0.2;
	}
	.staff .item.showing {
		opacity:1;
	}
	.staff .item.active {
		opacity:1;
		background-color: #0000FF;
		color:#fff;
	}



</style>